<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
</head>
<h1>Mis familiares</h1>
<body>
<h3>Composicion familar, padre, madre, hijo:</h3>

    {% for i in Familiares %}
    <li>{{i.nombre}} <br> Edad: {{i.edad}} años <br>  Fecha de nac: {{i.fecha_nac}} <br> Lugar de nac: {{i.lugar_nac}} <p></li>
    {% endfor%}

</body>
<h4>No tengo mas familiares!!</h4>
</html>